html, body {
    background-color: #F8F8F8;
}

strong, address, span {
    font-family: 'Josefin Slab', serif;
}

h1, h1 span, h2 {
    font-family: 'Lobster Two', cursive;
}

@media (min-width: 768px) {
    .banner {
        margin-top: 50px;
    }
}

.spoonfactory {
    position: relative;
    height: 360px;
    margin: 0 auto;
    padding: 20px;
}

.spoonfactory > div {
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 20px;;
}

.spoonfactory + div {
    margin-bottom: 80px;
}

.text-center img {
    max-width: 100%;
}

h1, h1 span {
    font-weight: 400;
    font-size: 60px;
}

h2 {
    margin-top: 10px;
}

.work {
    position: relative;
}

@media (min-width: 768px) {
    .timeline:before {
        background: none repeat scroll 0 0 rgba(255, 255, 255, 0.8);
        bottom: 0;
        content: "";
        display: block;
        left: 45%;
        margin-left: -3px;
        margin-top: 50px;
        position: absolute;
        top: 0;
        width: 6px;
    }

    .timeline:after {
        clear: both;
        content: "";
        display: block;
    }
}

.timeline {
    position: relative;
}

@media (min-width: 768px) {
    .timeline h3:after {
        background: none repeat scroll 0 0 #fff;
        border-radius: 50%;
        content: "";
        display: block;
        height: 20px;
        left: 45%;
        margin: 0 0 0 -10px;
        position: absolute;
        top: 32px;
        width: 20px;
    }
}

.timeline h3 {
    position: relative;
}

.timeline article img {
    float: right;
}

@media (min-width: 768px) {
    .timeline article:after {
        border-bottom: 10px solid transparent;
        border-left: 15px solid #fff;
        border-top: 10px solid transparent;
        content: "";
        height: 0;
        left: 100%;
        margin-top: -10px;
        position: absolute;
        top: 50%;
        width: 0;
    }
}

.timeline article {
    background: none repeat scroll 0 0 #fff;
    float: left;
    margin-top: 15px;
    padding: 15px;
    position: relative;
    text-align: left;
}

.timeline article {
    width: 100%;
}

@media (min-width: 768px) {
    .timeline article {
        width: 40%;
    }

    .timeline article.jukkapoika:after {
        top: 150px;
    }

    .timeline article.jukkapoika:after,
    .timeline article.apogee:after,
    .timeline article.kukka:after {
        border-left: 0 none;
        border-right: 15px solid #fff;
        left: auto;
        right: 100%;
    }
}


@media (min-width: 768px) {
    .timeline article.jukkapoika,
    .timeline article.apogee,
    .timeline article.kukka {
        width: 50%;
        float: right;
    }
}

.timeline article.jukkapoika,
.timeline article.apogee,
.timeline article.kukka {
    clear: none;
    font-size: 15px;
}


@media (min-width: 768px) {
    .timeline article#apogee {
        margin-top: 172px;
    }

    .timeline article#kukka {
        margin-top: 167px;
    }
}

.contact {
    padding-top: 100px;
    padding-bottom: 100px;
}

@media (max-width: 750px) {
    .contact {
        text-align: center;
    }
}

.map {
    height: 400px;
    background: url(/assets/images/map.jpeg) no-repeat center center;
    background-size: 100% auto;
}
